/* body {
    float: right;
} */
/* .currency-input-container {
    

} */

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 200;
    color: #f5f5f5;
    text-align: center;
    background-color: #1a10debf;
    border: 1px solid #ccc;
    border-radius: 10px;    
}