/* Stock chart */

.stock-chart {
	background:black;
	background: linear-gradient(90deg, black 0%, black 100%);
	margin-bottom: 0;
	padding: 30px 30px;
	border-radius: 2px;
}
.news-item{
	background: black;
	background: linear-gradient(90deg, aqua  0%,black 100%);
	margin-bottom: 0;
	padding: 30px 30px;
	border-radius: 2px;
	color:black;
	font-size:30%;
	
}
.github{
	float:right;
	color:white;
}

