.cBgImage {
  
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
  z-index: 0;
  
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: column;
  
  margin-top: 0;
}
